@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <title>Foodiesaur</title>
    <link rel="icon" type="image/svg+xml" href="~/images/titlelogo.svg">
    <link rel="alternate icon" type="image/png" href="~/images/titlelogo.png">
</head>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
